Starting point for development - start to build decision tree classifier in notebook for rapid development. Will seperate out code more cleanly once workflow has been established.

In [86]:
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [87]:
datapath = "../data/"

fullTrainData = pd.read_excel(f"{datapath}existing-customers.xlsx")

print(fullTrainData.columns)
print("Class balance:")
fullTrainData["class"].value_counts()

/home/peter/.local/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['RowID', 'age', 'workclass', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')
Class balance:

<=50K    24720
>50K      7841
Name: class, dtype: int64

In [17]:
#removing redundant columns
fullTrainData = fullTrainData.drop(labels=["RowID", "education"], axis=1)
fullTrainData.head()

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [18]:
#making labels numerical - 1 for >50K, 0 for <=50K or unknown
fullTrainData["class"] = fullTrainData["class"].map(lambda x: 1 if(x == ">50K") else 0)

In [19]:
#comverting dataframe to one-hot representation with one column for each possible value of each categorical attribute
fullTrainData = pd.get_dummies(fullTrainData, columns=["workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"])
fullTrainData.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,class,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [81]:
#splitting features and labels
attributes = fullTrainData.drop(labels=["class"], axis=1)
labels = fullTrainData["class"]

#getting test and train set
trainFeatures, testFeatures, trainLabels, testLabels = train_test_split(attributes, labels, test_size=0.2, random_state=5) #random state is like a seed to allow repeatable results

In [95]:
#training classifier
treeClassifier = tree.DecisionTreeClassifier(max_depth=8)       #limiting max depth helps prevent overfitting and boosts score
treeClassifier.fit(trainFeatures, trainLabels)

forestClassifier = RandomForestClassifier(max_depth=8, n_estimators=40, max_features=6)
forestClassifier.fit(trainFeatures, trainLabels)

RandomForestClassifier(max_depth=8, max_features=6, n_estimators=40)

In [96]:
#getting score for classifier based on test dataset
treeScore = treeClassifier.score(testFeatures, testLabels)
forestScore = forestClassifier.score(testFeatures, testLabels)

print(f"tree score: {treeScore}")
print(f"forest score: {forestScore}")

tree score: 0.8550591125441425
forest score: 0.8392445877475817